// @import url("https://fonts.googleapis.com/css?family=Reem+Kufi");

$cell-w-h: 10px;
$cell-border: 0 solid #444444;
$main: rgb(52, 161, 37);
$secondary: rgb(0, 0, 0);
// $font_family: "Reem Kufi";
$font_family: "Segoe UI";

* {
  box-sizing: border-box;
}

body {
  background-color: $secondary;
  font-family: $font_family;
}

#GOL {
  display: flex;
  justify-content: center;
  margin: 100px auto;

  .game-of-life {
    padding: 10px;
    border-radius: 5px;
    background-color: $secondary;
    box-shadow: 0px 0px 200px 5px $main;

    .title {
      margin: 5px 0 10px 0;
      color: $main;
      font-size: 1.7em;
      font-weight: bold;
      text-align: center;
    }

    .gameboard {
      border: 1px solid $main;

      .game-row {
        display: flex;

        .cell {
          width: $cell-w-h;
          height: $cell-w-h;
          border: $cell-border;
        }

        .dead {
          background-color: $secondary;
        }

        .alive {
          background-color: $main;
        }
      }
    }

    .statistics {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .stat {
        font-size: 1.1em;
        font-weight: bold;
        color: $main;
        min-width: 140px;
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      margin: 20px auto;

      .fa {
        min-width: 35px;
        padding: 0 10px;
        color: rgba($main, 0.5);
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: $main;
        }
      }

      .fa-caret-right {
        min-width: 0;
        padding: 0;
        font-weight: bold;
      }

      .speed {
        display: inline;
        padding: 0 10px;

        &:hover > .fa {
          color: $main;
        }
      }

      .activeSpeed {
        color: saturate($main, 10%);
      }
    }
  }
}

@media screen and (max-width: 550px) {
}
